<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0"
         metadata-complete="true">

    <context-param>
        <param-name>isLog4jAutoInitializationDisabled</param-name>
        <param-value>true</param-value>
    </context-param>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>Block</servlet-name>
        <servlet-class>com.xw.http.web.BlockServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Block</servlet-name>
        <url-pattern>/block</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SimpleAsync</servlet-name>
        <servlet-class>com.xw.http.web.SimpleAsyncServlet</servlet-class>
        <async-supported>true</async-supported>
    </servlet>
    <servlet-mapping>
        <servlet-name>SimpleAsync</servlet-name>
        <url-pattern>/simple</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Async</servlet-name>
        <servlet-class>com.xw.http.web.AsyncNioServlet</servlet-class>
        <async-supported>true</async-supported>
    </servlet>
    <servlet-mapping>
        <servlet-name>Async</servlet-name>
        <url-pattern>/nio</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AsyncPure</servlet-name>
        <servlet-class>com.xw.http.web.AsyncNioPureServlet</servlet-class>
        <async-supported>true</async-supported>
    </servlet>
    <servlet-mapping>
        <servlet-name>AsyncPure</servlet-name>
        <url-pattern>/pure</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AsyncPurePooled</servlet-name>
        <servlet-class>com.xw.http.web.AsyncNioPurePooledServlet</servlet-class>
        <async-supported>true</async-supported>
    </servlet>
    <servlet-mapping>
        <servlet-name>AsyncPurePooled</servlet-name>
        <url-pattern>/pooled</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AsyncPureContained</servlet-name>
        <servlet-class>com.xw.http.web.AsyncNioPureContainedServlet</servlet-class>
        <async-supported>true</async-supported>
    </servlet>
    <servlet-mapping>
        <servlet-name>AsyncPureContained</servlet-name>
        <url-pattern>/contained</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AsyncAHC</servlet-name>
        <servlet-class>com.xw.http.web.AsyncAHCServlet</servlet-class>
        <async-supported>true</async-supported>
    </servlet>
    <servlet-mapping>
        <servlet-name>AsyncAHC</servlet-name>
        <url-pattern>/ahc</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AsyncHAC</servlet-name>
        <servlet-class>com.xw.http.web.AsyncHACServlet</servlet-class>
        <async-supported>true</async-supported>
    </servlet>
    <servlet-mapping>
        <servlet-name>AsyncHAC</servlet-name>
        <url-pattern>/hac</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Sync</servlet-name>
        <servlet-class>com.xw.http.web.SyncServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Sync</servlet-name>
        <url-pattern>/sync</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Echo</servlet-name>
        <servlet-class>com.xw.http.web.EchoServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Echo</servlet-name>
        <url-pattern>/echo</url-pattern>
    </servlet-mapping>

    <!--<servlet>-->
        <!--<servlet-name>dispatcherServlet</servlet-name>-->
        <!--<servlet-class>-->
            <!--org.springframework.web.servlet.DispatcherServlet-->
        <!--</servlet-class>-->
        <!--<init-param>-->
            <!--<param-name>contextConfigLocation</param-name>-->
            <!--<param-value>-->
                <!--/WEB-INF/cfg/controllers.xml,-->
            <!--</param-value>-->
        <!--</init-param>-->
        <!--<load-on-startup>2</load-on-startup>-->
        <!--<async-supported>true</async-supported>-->
    <!--</servlet>-->


</web-app>
